<!DOCTYPE html>
<html>
<head>
	<title></title>
	  <link href="styles/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
</head>
<body>



<!-- Sticky HEader Example: https://codepen.io/JGallardo/pen/lJoyk
 -->





  <header>
    <nav>
      <div>
        <img src="https://www.seeklogo.net/wp-content/uploads/2012/12/apple-classic-logo-vector-400x400.png" height= 100 width= 100>
        <h1>Life </h1>
      </div>
      <div id="topbar">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Content</a></li>
          <li><a href="#">Contribute</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
    </nav>
  </header>


	<p>Looks awful but I will fix it</p>


	  <h1>Self Care Habits</h1>

	  will work on below
<!-- 
  <% Practices.forEach((practices, i)=>{ %>
  	<div>
        <form>
        	<span>here are my entries</span>
              <article class="card text-center" style="width: 15rem; margin: 5px; padding: 10px;">
             	<%=practices.Name%>
              		<p>texing goes here</p>
              	</article>
        </form>
   	</div>
<% }) %> -->



	<p>this is text</p>

	<span>
		<form action="/action_page.php">
		  First name: <input type="text" name="firstname"><br>
		  Last name: <input type="text" name="lastame"><br>
		  Message: <textarea rows="5" cols="50" type="text" name="message"></textarea> <br>
		  <button type="submit" value="Submit">Submit</button>
		</form>
	</span>



<script src="javascript/main.js"></script>

</body>
</html>